In [1]:
# import numpy and pandas libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import recall_score
from sklearn.tree import DecisionTreeRegressor
from matplotlib import pyplot as plt
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
# set random seed to ensure that results are repeatable
np.random.seed(1)

In [2]:
# load data
real = pd.read_csv("Real estate sales.csv")

real.head()

,Serial Number,List Year,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,Residential Type
1,20002,2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family
2,200212,2020,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo
3,200243,2020,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family
4,200377,2020,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family

In [3]:
# generate a basic summary of the data
real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5533 entries, 0 to 5532
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Serial Number     5533 non-null   int64
 1   List Year         5533 non-null   int64
 2   Town              5533 non-null   object
 3   Address           5533 non-null   object
 4   Assessed Value    5533 non-null   int64
 5   Sale Amount       5533 non-null   float64
 6   Sales Ratio       5533 non-null   float64
 7   Property Type     5533 non-null   object
 8   Residential Type  5533 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 389.2+ KB

In [5]:
# generate a statistical summary of the numeric value in the data
real.describe()

        Sale Amount           SA
count  5.533000e+03  5533.000000
mean   5.432005e+05     0.499367
std    1.331533e+06     0.500045
min    2.000000e+03     0.000000
25%    1.940000e+05     0.000000
50%    2.910000e+05     0.000000
75%    4.750000e+05     1.000000
max    4.900000e+07     1.000000

In [6]:
# Check the missing values by summing the total na's for each variable
real.isna().sum()

Sale Amount    0
SA             0
dtype: int64

In [7]:
# create a list of these catagorical variables
category_var_list = list(real.select_dtypes(include='object').columns)
category_var_list

[]

In [8]:
# explore the categorical variable values - often there are typos here that need to be fixed.
for cat in category_var_list: # generally, we want to avoid for loops and use a functional style (i.e. list comprehension)
    print(f"Category: {cat} Values: {real[cat].unique()}")

In [9]:
labelencoder = LabelEncoder()
real['Town'] = labelencoder.fit_transform(real['Town'])
real['Address'] = labelencoder.fit_transform(real['Address'])
real['Property Type'] = labelencoder.fit_transform(real['Property Type'])
real['Residential Type'] = labelencoder.fit_transform(real['Residential Type'])

KeyError: 'Town'

In [ ]:
# explore the dataframe columns to verify encoding and dropped columns
real.info()

In [ ]:
# split the data into validation and training set
train_df, test_df = train_test_split(real, test_size=0.4)

# to reduce repetition in later code, create variables to represent the columns
# that are our predictors and target
target = 'SA'
predictors = list(real.columns)
predictors.remove(target)

In [ ]:
# create a standard scaler and fit it to the training set of predictors
scaler = preprocessing.StandardScaler()
cols_to_stdize = predictors               
               
# Transform the predictors of training and validation sets
train_df[cols_to_stdize] = scaler.fit_transform(train_df[cols_to_stdize]) # train_predictors is not a numpy array
test_df[cols_to_stdize] = scaler.transform(test_df[cols_to_stdize]) # validation_target is now a series object

In [ ]:
train_x = train_df[predictors]
train_y = train_df[target] # train_target is now a series objecttrain Cartier+3-day+auctions_csv('cartier.csv', index=False)
test_x = test_df[predictors]
test_y = test_df[target] # validation_target is now a series object

train_df.to_csv('./real_train_df_Sale Amount.csv', index=False)
train_x.to_csv('./real_train_X_Sale Amount.csv', index=False)
train_y.to_csv('./real_train_y_Sale Amount.csv', index=False)
test_df.to_csv('./real_test_df_Sale Amount.csv', index=False)
test_x.to_csv('./real_test_X_Sale Amount.csv', index=False)
test_y.to_csv('./real_test_y_Sale Amount.csv', index=False)